html,body{
  background: #EFEFEF;
  margin: 0px;
}

.row.section{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.white-bg{
  background: white;
}

.orange-bg{
  background: #f86939;
}

.teal-bg{
  background: #1ea8b2;
}

.teal{
  color: #1ea8b2;
}

.orange{
  color: #f86939;
}

.white{
  color: white;
}

.center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.section.top{
  padding-top: 9rem !important;
  padding-bottom: 0rem !important;
}

.section{
  padding-bottom: 9rem;
}

.header{
  background: white;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.header-heading{
  font-size: 7.5rem;
}

.border-white{
  border: 1rem solid white;
}

.t1vt2{
  width: 100%;
}

.sect-2{
  background: #f86939;
  color: white;
}

.screen{
  width: 70%;
}

.sect-4{
  background: #1ea8b2;
  color: white;
}